img:is([sizes="auto" i], [sizes^="auto," i]) {
  contain-intrinsic-size: 3000px 1500px;
}

:root {
  --nv-c-2: #be574b;
  --nv-secondary-accent: #b7b794;
  --nv-site-bg: #ffffff;
  --wp--preset--font-size--medium: 20px;

  --container: 748px;
  --postwidth: 100%;
  --primarybtnbg: var(--nv-primary-accent);
  --primarybtnhoverbg: var(--nv-primary-accent);
  --primarybtncolor: #fff;
  --secondarybtncolor: var(--nv-primary-accent);
  --primarybtnhovercolor: #fff;
  --secondarybtnhovercolor: var(--nv-primary-accent);
  --primarybtnborderradius: 3px;
  --secondarybtnborderradius: 3px;
  --secondarybtnborderwidth: 3px;
  --btnpadding: 13px 15px;
  --primarybtnpadding: 13px 15px;
  --secondarybtnpadding: calc(13px - 3px) calc(15px - 3px);
  --bodyfontfamily: Courier, monospace;
  --bodyfontsize: 15px;
  --bodylineheight: 1.6em;
  --bodyletterspacing: 0px;
  --bodyfontweight: 400;
  --bodytexttransform: none;
  --h1fontsize: 36px;
  --h1fontweight: 700;
  --h1lineheight: 1.2;
  --h1letterspacing: 0px;
  --h1texttransform: none;
  --h2fontsize: 28px;
  --h2fontweight: 700;
  --h2lineheight: 1.3;
  --h2letterspacing: 0px;
  --h2texttransform: none;
  --h3fontsize: 24px;
  --h3fontweight: 700;
  --h3lineheight: 1.4;
  --h3letterspacing: 0px;
  --h3texttransform: none;
  --h4fontsize: 20px;
  --h4fontweight: 700;
  --h4lineheight: 1.6;
  --h4letterspacing: 0px;
  --h4texttransform: none;
  --h5fontsize: 16px;
  --h5fontweight: 700;
  --h5lineheight: 1.6;
  --h5letterspacing: 0px;
  --h5texttransform: none;
  --h6fontsize: 14px;
  --h6fontweight: 700;
  --h6lineheight: 1.6;
  --h6letterspacing: 0px;
  --h6texttransform: none;
  --nv-primary-accent: #b794b7;
  --nv-light-bg: #f4f5f7;
  --nv-dark-bg: #4c4c4c;
  --nv-text-color: #272626;
  --nv-text-dark-bg: #ffffff;
  --nv-c-1: #94b7b7;
  --nv-fallback-ff: Courier, monospace;

  --headingsfontfamily: "Amatic Bold";
  --bodyfontfamily: "Encode Sans";
}
:where(.is-layout-flex) {
  gap: 0.5em;
}
body .is-layout-flex {
  display: flex;
}
.is-layout-flex {
  flex-wrap: wrap;
  align-items: center;
}
.is-layout-flex > :is(*, div) {
  margin: 0;
}
:where(.wp-block-columns.is-layout-flex) {
  gap: 2em;
}
.has-nv-site-bg-color {
  color: var(--nv-site-bg) !important;
}
.has-neve-link-hover-color-background-color {
  background-color: var(--nv-secondary-accent) !important;
}
.has-nv-c-2-background-color {
  background-color: var(--nv-c-2) !important;
}
.has-medium-font-size {
  font-size: var(--wp--preset--font-size--medium) !important;
}
@media screen and (max-width: 960px) {
  .builder-item.cr .item--inner {
    --textalign: center;
    --justify: center;
  }
}
.page {
  --c-vspace: 0 0 0 0;
}
.scroll-to-top {
  --color: var(--nv-text-dark-bg);
  --padding: 8px 10px;
  --borderradius: 3px;
  --bgcolor: var(--nv-primary-accent);
  --hovercolor: var(--nv-text-dark-bg);
  --hoverbgcolor: var(--nv-primary-accent);
  --size: 16px;
  right: 20px;
  border: none;
  position: fixed;
  bottom: 30px;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  z-index: 999;
  color: var(--color);
  padding: var(--padding);
  border-radius: var(--borderradius);
  background: var(--bgcolor);
}
.header-main {
  --rowbcolor: var(--nv-light-bg);
  --color: var(--nv-text-dark-bg);
  --bgcolor: var(--nv-dark-bg);
}

.builder-item--logo {
  --maxwidth: 120px;
  --fs: 24px;
  --padding: 10px 0;
  --margin: 0;
  --textalign: left;
  --justify: flex-start;
}

.builder-item--primary-menu {
  --hovercolor: var(--nv-secondary-accent);
  --hovertextcolor: var(--nv-text-color);
  --activecolor: var(--nv-text-color);
  --spacing: 20px;
  --height: 25px;
  --padding: 0;
  --margin: 0;
  --fontsize: 1em;
  --lineheight: 1.6em;
  --letterspacing: 0px;
  --fontweight: 500;
  --texttransform: none;
  --iconsize: 1em;
}
@media (min-width: 576px) {
  :root {
    --container: 992px;
    --postwidth: 50%;
    --btnpadding: 13px 15px;
    --primarybtnpadding: 13px 15px;
    --secondarybtnpadding: calc(13px - 3px) calc(15px - 3px);
    --bodyfontsize: 16px;
    --bodylineheight: 1.6em;
    --bodyletterspacing: 0px;
    --h1fontsize: 38px;
    --h1lineheight: 1.2;
    --h1letterspacing: 0px;
    --h2fontsize: 30px;
    --h2lineheight: 1.2;
    --h2letterspacing: 0px;
    --h3fontsize: 26px;
    --h3lineheight: 1.4;
    --h3letterspacing: 0px;
    --h4fontsize: 22px;
    --h4lineheight: 1.5;
    --h4letterspacing: 0px;
    --h5fontsize: 18px;
    --h5lineheight: 1.6;
    --h5letterspacing: 0px;
    --h6fontsize: 14px;
    --h6lineheight: 1.6;
    --h6letterspacing: 0px;
  }
  .page {
    --c-vspace: 0 0 0 0;
  }
  .scroll-to-top {
    --padding: 8px 10px;
    --size: 16px;
  }
  .builder-item--logo {
    --maxwidth: 120px;
    --fs: 24px;
    --padding: 10px 0;
    --margin: 0;
    --textalign: left;
    --justify: flex-start;
  }
  .builder-item--nav-icon {
    --label-margin: 0 5px 0 0;
    --padding: 10px 15px;
    --margin: 0;
  }
  .builder-item--primary-menu {
    --spacing: 20px;
    --height: 25px;
    --padding: 0;
    --margin: 0;
    --fontsize: 1em;
    --lineheight: 1.6em;
    --letterspacing: 0px;
    --iconsize: 1em;
  }
}
@media (min-width: 960px) {
  :root {
    --container: 1170px;
    --postwidth: 33.333333333333%;
    --btnpadding: 13px 15px;
    --primarybtnpadding: 13px 15px;
    --secondarybtnpadding: calc(13px - 3px) calc(15px - 3px);
    --bodyfontsize: 16px;
    --bodylineheight: 1.7em;
    --bodyletterspacing: 0px;
    --h1fontsize: 40px;
    --h1lineheight: 1.1;
    --h1letterspacing: 0px;
    --h2fontsize: 32px;
    --h2lineheight: 1.2;
    --h2letterspacing: 0px;
    --h3fontsize: 28px;
    --h3lineheight: 1.4;
    --h3letterspacing: 0px;
    --h4fontsize: 24px;
    --h4lineheight: 1.5;
    --h4letterspacing: 0px;
    --h5fontsize: 20px;
    --h5lineheight: 1.6;
    --h5letterspacing: 0px;
    --h6fontsize: 16px;
    --h6lineheight: 1.6;
    --h6letterspacing: 0px;
  }
  body:not(.single):not(.archive):not(.blog):not(.search):not(.error404)
    .neve-main
    > .container
    .col {
    max-width: 100%;
  }
  .page {
    --c-vspace: 0 0 0 0;
  }
  .scroll-to-top {
    --padding: 8px 10px;
    --size: 16px;
  }
  .builder-item--logo {
    --maxwidth: 250px;
    --fs: 24px;
    --padding: 10px 0;
    --margin: 0;
    --textalign: left;
    --justify: flex-start;
  }
  .builder-item--nav-icon {
    --label-margin: 0 5px 0 0;
    --padding: 10px 15px;
    --margin: 0;
  }
  .builder-item--primary-menu {
    --spacing: 20px;
    --height: 25px;
    --padding: 0;
    --margin: 0;
    --fontsize: 0.9em;
    --lineheight: 1.6em;
    --letterspacing: 0px;
    --iconsize: 0.9em;
  }
}
@supports (-webkit-overflow-scrolling: touch) {
  .scroll-to-top {
    bottom: 74px;
  }
}
.scroll-to-top:hover {
  text-decoration: none;
}
.scroll-to-top.scroll-show-mobile {
  display: flex;
}
@media (min-width: 960px) {
  .scroll-to-top {
    display: flex;
  }
}
.scroll-to-top:hover,
.scroll-to-top:focus {
  color: var(--hovercolor);
  background: var(--hoverbgcolor);
}
.scroll-to-top-icon {
  width: var(--size);
  height: var(--size);
}

.kt-svg-item-7711_42851d-44 .kb-svg-icon-wrap {
  color: #444444;
  font-size: 50px;
}
.wp-block-kadence-advancedbtn .kb-btn7711_2a4b2f-0f.kb-button {
  color: var(--nv-site-bg);
  background: var(--nv-dark-bg);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-color: var(--nv-dark-bg);
  border-top-style: solid;
  border-right-color: var(--nv-dark-bg);
  border-right-style: solid;
  border-bottom-color: var(--nv-dark-bg);
  border-bottom-style: solid;
  border-left-color: var(--nv-dark-bg);
  border-left-style: solid;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.wp-block-kadence-advancedbtn .kb-btn7711_2a4b2f-0f.kb-button:hover {
  color: #ffffff;
  background: var(--nv-c-2);
  border-top-color: var(--nv-c-2);
  border-top-style: solid;
  border-right-color: var(--nv-c-2);
  border-right-style: solid;
  border-bottom-color: var(--nv-c-2);
  border-bottom-style: solid;
  border-left-color: var(--nv-c-2);
  border-left-style: solid;
}
@media all and (max-width: 1024px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_2a4b2f-0f.kb-button {
    border-top-color: var(--nv-dark-bg);
    border-top-style: solid;
    border-right-color: var(--nv-dark-bg);
    border-right-style: solid;
    border-bottom-color: var(--nv-dark-bg);
    border-bottom-style: solid;
    border-left-color: var(--nv-dark-bg);
    border-left-style: solid;
  }
}
@media all and (max-width: 1024px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_2a4b2f-0f.kb-button:hover {
    border-top-color: var(--nv-c-2);
    border-top-style: solid;
    border-right-color: var(--nv-c-2);
    border-right-style: solid;
    border-bottom-color: var(--nv-c-2);
    border-bottom-style: solid;
    border-left-color: var(--nv-c-2);
    border-left-style: solid;
  }
}
@media all and (max-width: 767px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_2a4b2f-0f.kb-button {
    border-top-color: var(--nv-dark-bg);
    border-top-style: solid;
    border-right-color: var(--nv-dark-bg);
    border-right-style: solid;
    border-bottom-color: var(--nv-dark-bg);
    border-bottom-style: solid;
    border-left-color: var(--nv-dark-bg);
    border-left-style: solid;
  }
  .wp-block-kadence-advancedbtn .kb-btn7711_2a4b2f-0f.kb-button:hover {
    border-top-color: var(--nv-c-2);
    border-top-style: solid;
    border-right-color: var(--nv-c-2);
    border-right-style: solid;
    border-bottom-color: var(--nv-c-2);
    border-bottom-style: solid;
    border-left-color: var(--nv-c-2);
    border-left-style: solid;
  }
}
.wp-block-kadence-advancedbtn .kb-btn7711_9dadc9-18.kb-button {
  color: var(--nv-site-bg);
  background: var(--nv-dark-bg);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-color: var(--nv-dark-bg);
  border-top-style: solid;
  border-right-color: var(--nv-dark-bg);
  border-right-style: solid;
  border-bottom-color: var(--nv-dark-bg);
  border-bottom-style: solid;
  border-left-color: var(--nv-dark-bg);
  border-left-style: solid;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.wp-block-kadence-advancedbtn .kb-btn7711_9dadc9-18.kb-button:hover {
  color: #ffffff;
  background: var(--nv-c-2);
  border-top-color: var(--nv-c-2);
  border-top-style: solid;
  border-right-color: var(--nv-c-2);
  border-right-style: solid;
  border-bottom-color: var(--nv-c-2);
  border-bottom-style: solid;
  border-left-color: var(--nv-c-2);
  border-left-style: solid;
}
@media all and (max-width: 1024px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_9dadc9-18.kb-button {
    border-top-color: var(--nv-dark-bg);
    border-top-style: solid;
    border-right-color: var(--nv-dark-bg);
    border-right-style: solid;
    border-bottom-color: var(--nv-dark-bg);
    border-bottom-style: solid;
    border-left-color: var(--nv-dark-bg);
    border-left-style: solid;
  }
}
@media all and (max-width: 1024px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_9dadc9-18.kb-button:hover {
    border-top-color: var(--nv-c-2);
    border-top-style: solid;
    border-right-color: var(--nv-c-2);
    border-right-style: solid;
    border-bottom-color: var(--nv-c-2);
    border-bottom-style: solid;
    border-left-color: var(--nv-c-2);
    border-left-style: solid;
  }
}
@media all and (max-width: 767px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_9dadc9-18.kb-button {
    border-top-color: var(--nv-dark-bg);
    border-top-style: solid;
    border-right-color: var(--nv-dark-bg);
    border-right-style: solid;
    border-bottom-color: var(--nv-dark-bg);
    border-bottom-style: solid;
    border-left-color: var(--nv-dark-bg);
    border-left-style: solid;
  }
  .wp-block-kadence-advancedbtn .kb-btn7711_9dadc9-18.kb-button:hover {
    border-top-color: var(--nv-c-2);
    border-top-style: solid;
    border-right-color: var(--nv-c-2);
    border-right-style: solid;
    border-bottom-color: var(--nv-c-2);
    border-bottom-style: solid;
    border-left-color: var(--nv-c-2);
    border-left-style: solid;
  }
}
.kt-svg-item-7711_f98e6b-31 .kb-svg-icon-wrap {
  color: #444444;
  font-size: 50px;
}
.wp-block-kadence-advancedbtn .kb-btn7711_192788-55.kb-button {
  color: var(--nv-site-bg);
  background: var(--nv-c-2);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-color: var(--nv-c-2);
  border-top-style: solid;
  border-right-color: var(--nv-c-2);
  border-right-style: solid;
  border-bottom-color: var(--nv-c-2);
  border-bottom-style: solid;
  border-left-color: var(--nv-c-2);
  border-left-style: solid;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.wp-block-kadence-advancedbtn .kb-btn7711_192788-55.kb-button:hover {
  color: #ffffff;
  background: #444444;
  border-top-color: #444444;
  border-top-style: solid;
  border-right-color: #444444;
  border-right-style: solid;
  border-bottom-color: #444444;
  border-bottom-style: solid;
  border-left-color: #444444;
  border-left-style: solid;
}
@media all and (max-width: 1024px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_192788-55.kb-button {
    border-top-color: var(--nv-c-2);
    border-top-style: solid;
    border-right-color: var(--nv-c-2);
    border-right-style: solid;
    border-bottom-color: var(--nv-c-2);
    border-bottom-style: solid;
    border-left-color: var(--nv-c-2);
    border-left-style: solid;
  }
}
@media all and (max-width: 1024px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_192788-55.kb-button:hover {
    border-top-color: #444444;
    border-top-style: solid;
    border-right-color: #444444;
    border-right-style: solid;
    border-bottom-color: #444444;
    border-bottom-style: solid;
    border-left-color: #444444;
    border-left-style: solid;
  }
}
@media all and (max-width: 767px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_192788-55.kb-button {
    border-top-color: var(--nv-c-2);
    border-top-style: solid;
    border-right-color: var(--nv-c-2);
    border-right-style: solid;
    border-bottom-color: var(--nv-c-2);
    border-bottom-style: solid;
    border-left-color: var(--nv-c-2);
    border-left-style: solid;
  }
  .wp-block-kadence-advancedbtn .kb-btn7711_192788-55.kb-button:hover {
    border-top-color: #444444;
    border-top-style: solid;
    border-right-color: #444444;
    border-right-style: solid;
    border-bottom-color: #444444;
    border-bottom-style: solid;
    border-left-color: #444444;
    border-left-style: solid;
  }
}
.kt-svg-item-7711_46bcca-5e .kb-svg-icon-wrap {
  color: #444444;
  font-size: 50px;
}
.wp-block-kadence-advancedbtn .kb-btn7711_98910c-db.kb-button {
  color: var(--nv-site-bg);
  background: var(--nv-c-1);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-color: var(--nv-c-1);
  border-top-style: solid;
  border-right-color: var(--nv-c-1);
  border-right-style: solid;
  border-bottom-color: var(--nv-c-1);
  border-bottom-style: solid;
  border-left-color: var(--nv-c-1);
  border-left-style: solid;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.wp-block-kadence-advancedbtn .kb-btn7711_98910c-db.kb-button:hover {
  color: #ffffff;
  background: #444444;
  border-top-color: #444444;
  border-top-style: solid;
  border-right-color: #444444;
  border-right-style: solid;
  border-bottom-color: #444444;
  border-bottom-style: solid;
  border-left-color: #444444;
  border-left-style: solid;
}
@media all and (max-width: 1024px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_98910c-db.kb-button {
    border-top-color: var(--nv-c-1);
    border-top-style: solid;
    border-right-color: var(--nv-c-1);
    border-right-style: solid;
    border-bottom-color: var(--nv-c-1);
    border-bottom-style: solid;
    border-left-color: var(--nv-c-1);
    border-left-style: solid;
  }
}
@media all and (max-width: 1024px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_98910c-db.kb-button:hover {
    border-top-color: #444444;
    border-top-style: solid;
    border-right-color: #444444;
    border-right-style: solid;
    border-bottom-color: #444444;
    border-bottom-style: solid;
    border-left-color: #444444;
    border-left-style: solid;
  }
}
@media all and (max-width: 767px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_98910c-db.kb-button {
    border-top-color: var(--nv-c-1);
    border-top-style: solid;
    border-right-color: var(--nv-c-1);
    border-right-style: solid;
    border-bottom-color: var(--nv-c-1);
    border-bottom-style: solid;
    border-left-color: var(--nv-c-1);
    border-left-style: solid;
  }
  .wp-block-kadence-advancedbtn .kb-btn7711_98910c-db.kb-button:hover {
    border-top-color: #444444;
    border-top-style: solid;
    border-right-color: #444444;
    border-right-style: solid;
    border-bottom-color: #444444;
    border-bottom-style: solid;
    border-left-color: #444444;
    border-left-style: solid;
  }
}
.kt-svg-item-7711_eed7dd-f4 .kb-svg-icon-wrap {
  color: #444444;
  font-size: 50px;
}
.wp-block-kadence-advancedbtn .kb-btn7711_985ba2-34.kb-button {
  color: var(--nv-site-bg);
  background: var(--nv-primary-accent);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-color: var(--nv-primary-accent);
  border-top-style: solid;
  border-right-color: var(--nv-primary-accent);
  border-right-style: solid;
  border-bottom-color: var(--nv-primary-accent);
  border-bottom-style: solid;
  border-left-color: var(--nv-primary-accent);
  border-left-style: solid;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.wp-block-kadence-advancedbtn .kb-btn7711_985ba2-34.kb-button:hover {
  color: #ffffff;
  background: #444444;
  border-top-color: #444444;
  border-top-style: solid;
  border-right-color: #444444;
  border-right-style: solid;
  border-bottom-color: #444444;
  border-bottom-style: solid;
  border-left-color: #444444;
  border-left-style: solid;
}
@media all and (max-width: 1024px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_985ba2-34.kb-button {
    border-top-color: var(--nv-primary-accent);
    border-top-style: solid;
    border-right-color: var(--nv-primary-accent);
    border-right-style: solid;
    border-bottom-color: var(--nv-primary-accent);
    border-bottom-style: solid;
    border-left-color: var(--nv-primary-accent);
    border-left-style: solid;
  }
}
@media all and (max-width: 1024px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_985ba2-34.kb-button:hover {
    border-top-color: #444444;
    border-top-style: solid;
    border-right-color: #444444;
    border-right-style: solid;
    border-bottom-color: #444444;
    border-bottom-style: solid;
    border-left-color: #444444;
    border-left-style: solid;
  }
}
@media all and (max-width: 767px) {
  .wp-block-kadence-advancedbtn .kb-btn7711_985ba2-34.kb-button {
    border-top-color: var(--nv-primary-accent);
    border-top-style: solid;
    border-right-color: var(--nv-primary-accent);
    border-right-style: solid;
    border-bottom-color: var(--nv-primary-accent);
    border-bottom-style: solid;
    border-left-color: var(--nv-primary-accent);
    border-left-style: solid;
  }
  .wp-block-kadence-advancedbtn .kb-btn7711_985ba2-34.kb-button:hover {
    border-top-color: #444444;
    border-top-style: solid;
    border-right-color: #444444;
    border-right-style: solid;
    border-bottom-color: #444444;
    border-bottom-style: solid;
    border-left-color: #444444;
    border-left-style: solid;
  }
}

.menu-item a {
  font-family: "Amatic Bold";
  font-size: 30px;
}
.nav-ul li > .wrap {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 4px;
}
.nav-ul:not(.menu-mobile):not(.neve-mega-menu) > li > .wrap > a {
  padding-top: 1px;
}

.wp-container-core-columns-is-layout-9d6595d7 {
  flex-wrap: nowrap;
}

.wp-block-columns {
  align-items: normal !important;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap !important;
}
@media (min-width: 782px) {
  .wp-block-columns {
    flex-wrap: nowrap !important;
  }
}
@media (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 100% !important;
  }
}
@media (min-width: 782px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 0;
    flex-grow: 1;
  }
}
:where(.wp-block-columns) {
  margin-bottom: 1.75em;
}
.wp-block-column {
  flex-grow: 1;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
.wp-block-cover {
  align-items: center;
  background-position: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 430px;
  overflow: hidden;
  overflow: clip;
  padding: 1em;
  position: relative;
}
.wp-block-cover .has-background-dim:not([class*="-background-color"]) {
  background-color: #000;
}
.wp-block-cover .wp-block-cover__background {
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
}
.wp-block-cover .wp-block-cover__inner-container {
  color: inherit;
  position: relative;
  width: 100%;
}
.wp-block-cover .wp-block-cover__image-background {
  border: none;
  bottom: 0;
  box-shadow: none;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  object-fit: cover;
  outline: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
:where(.wp-block-cover:not(.has-text-color)) {
  color: #fff;
}
:root :where(.wp-block-cover p:not(.has-text-color)) {
  color: inherit;
}
.wp-block-group {
  box-sizing: border-box;
}
.wp-block-image > a {
  display: inline-block;
}
.wp-block-image img {
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
.wp-lightbox-container button:not(:hover):not(:active):not(.has-background) {
  background-color: #5a5a5a40;
  border: none;
}
.wp-lightbox-overlay
  .close-button:not(:hover):not(:active):not(.has-background) {
  background: none;
  border: none;
}
@keyframes show-content-image {
  0% {
    visibility: hidden;
  }
  99% {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes turn-on-visibility {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes turn-off-visibility {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes lightbox-zoom-in {
  0% {
    transform: translate(
        calc(
          (-100vw + var(--wp--lightbox-scrollbar-width)) / 2 +
            var(--wp--lightbox-initial-left-position)
        ),
        calc(-50vh + var(--wp--lightbox-initial-top-position))
      )
      scale(var(--wp--lightbox-scale));
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes lightbox-zoom-out {
  0% {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
  }
  99% {
    visibility: visible;
  }
  to {
    transform: translate(
        calc(
          (-100vw + var(--wp--lightbox-scrollbar-width)) / 2 +
            var(--wp--lightbox-initial-left-position)
        ),
        calc(-50vh + var(--wp--lightbox-initial-top-position))
      )
      scale(var(--wp--lightbox-scale));
    visibility: hidden;
  }
}
ul {
  box-sizing: border-box;
  padding-left: var(--listpad, 0);
  list-style: none;
  list-style: var(--liststyle, none);
}
@keyframes overlay-menu__fade-in-animation {
  0% {
    opacity: 0;
    transform: translateY(0.5em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.has-drop-cap:not(:focus):first-letter {
  float: left;
  font-size: 8.4em;
  font-style: normal;
  font-weight: 100;
  line-height: 0.68;
  margin: 0.05em 0.1em 0 0;
  text-transform: uppercase;
}
body.rtl .has-drop-cap:not(:focus):first-letter {
  float: none;
  margin-left: 0.1em;
}
.wp-block-spacer {
  clear: both;
}

.has-text-align-center {
  text-align: center;
}
html :where(img[class*="wp-image-"]) {
  height: auto;
  max-width: 100%;
}
:where(figure) {
  margin: 0 0 1em;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.button,
button {
  cursor: pointer;
  box-sizing: border-box;
  border-color: currentColor;
  text-align: center;
  font-family: var(--bodyfontfamily), var(--nv-fallback-ff);
}
button {
  cursor: pointer;
  background: var(--primarybtnbg);
  color: var(--primarybtncolor);
  border-style: solid;
  border-color: currentColor;
  fill: currentColor;
  border-width: var(--primarybtnborderwidth, 0);
  border-radius: var(--primarybtnborderradius, 3px);
  padding: var(--primarybtnpadding, 13px 15px);
  font-weight: var(--btnfontweight, 700);
  font-size: var(--btnfs, var(--bodyfontsize));
  line-height: var(--btnlineheight, 1.6);
  letter-spacing: var(--btnletterspacing, var(--bodyletterspacing));
  text-transform: var(--btntexttransform, none);
  box-shadow: var(--primarybtnshadow, none);
  margin: 0;
  line-height: inherit;
  box-sizing: border-box;
}
button:hover {
  background: var(--primarybtnhoverbg);
  color: var(--primarybtnhovercolor);
  border-color: var(--primarybtnhovercolor);
}
.button {
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--secondarybtnbg);
  color: var(--secondarybtncolor);
  border-style: solid;
  border-color: currentColor;
  fill: currentColor;
  border-width: var(--secondarybtnborderwidth, 0);
  border-radius: var(--secondarybtnborderradius, 3px);
  padding: var(--secondarybtnpadding, 7px 12px);
  font-weight: var(--btnfontweight, 700);
  font-size: var(--btnfs, var(--bodyfontsize));
  line-height: var(--btnlineheight, 1.6);
  letter-spacing: var(--btnletterspacing);
  text-transform: var(--btntexttransform, none);
}
.button:hover {
  background-color: var(--secondarybtnhoverbg);
  color: var(--secondarybtnhovercolor);
  border-color: var(--secondarybtnhovercolor);
}
body,
figure,
h2,
h3,
h4,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
h2,
h3,
h4 {
  font-size: 100%;
  font-weight: 400;
  margin-bottom: 30px;
  font-family: var(--headingsfontfamily), var(--nv-fallback-ff);
  color: var(--headingcolor, inherit);
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  font-size: 100%;
}
*,
::after,
::before {
  box-sizing: border-box;
}
img {
  height: auto;
  max-width: 100%;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  max-width: var(--container);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  padding: 0 15px;
  margin: 0 auto;
  flex-grow: 1;
  max-width: 100%;
}
body {
  background-color: var(--nv-site-bg);
  color: var(--nv-text-color);
  font-size: var(--bodyfontsize);
  line-height: var(--bodylineheight);
  letter-spacing: var(--bodyletterspacing);
  font-family: var(--bodyfontfamily), var(--nv-fallback-ff);
  text-transform: var(--bodytexttransform);
  font-weight: var(--bodyfontweight);
  overflow-x: hidden;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 30px;
}
a {
  --linkdeco: none;
  color: var(--nv-primary-accent);
  cursor: pointer;
  text-decoration: var(--linkdeco);
}
a:focus,
a:hover {
  opacity: 0.9;
  color: var(--nv-secondary-accent);
}
.widget_text a:not([class]) {
  --linkdeco: underline;
}
h2 {
  font-size: var(--h2fontsize);
  font-weight: var(--h2fontweight);
  line-height: var(--h2lineheight);
  letter-spacing: var(--h2letterspacing);
  text-transform: var(--h2texttransform);
}
h3 {
  font-size: var(--h3fontsize);
  font-weight: var(--h3fontweight);
  line-height: var(--h3lineheight);
  letter-spacing: var(--h3letterspacing);
  text-transform: var(--h3texttransform);
}
h4 {
  font-size: var(--h4fontsize);
  font-weight: var(--h4fontweight);
  line-height: var(--h4lineheight);
  letter-spacing: var(--h4letterspacing);
  text-transform: var(--h4texttransform);
}
.show-on-focus {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  top: 32px;
  background: var(--nv-site-bg);
  padding: 10px 15px;
}
.show-on-focus:focus {
  z-index: 999999;
  width: auto;
  height: auto;
  clip: auto;
}
.alignfull {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: 0 7.5px;
}
.alignwide {
  width: 98vw;
  max-width: 98vw;
  margin-left: calc(50% - 49vw);
  margin-right: calc(50% - 49vw);
}
.site-logo {
  align-items: center;
  display: flex;
}
.site-logo img {
  max-width: var(--maxwidth);
  display: block;
  margin: 0 auto;
}
.nav-ul li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}
.caret {
  transition: 0.3s ease;
}
.dd-title {
  flex-grow: var(--flexg);
  display: flex;
  align-items: center;
}
.nav-ul {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--spacing) / 2 * -1);
  margin-left: calc(var(--spacing) / 2 * -1);
}
.nav-ul > li {
  margin: 0 calc(var(--spacing) / 2);
}
.nav-ul li a {
  min-height: var(--height);
  color: var(--color);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.nav-ul .caret {
  line-height: 0;
  justify-content: center;
  display: flex;
}
.nav-ul .caret svg {
  width: 0.5em;
  height: 0.5em;
}
.nav-ul li {
  display: block;
  position: relative;
}
.nav-ul li > .wrap {
  display: flex;
  align-items: center;
}
.nav-ul li.nv-active > .wrap > a {
  color: var(--activecolor);
}
.nav-ul li:hover > .wrap .caret,
.nav-ul li:hover > .wrap > a {
  color: var(--hovercolor, var(--nv-primary-accent));
}
.nav-ul .sub-menu {
  background: var(--bgcolor, var(--overlaycolor));
  z-index: 100;
  position: absolute;
  top: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  visibility: hidden;
  opacity: 0;
  right: 0;
}
.nav-ul .sub-menu li {
  min-width: 150px;
  width: 100%;
}
.nav-ul .sub-menu li > .wrap {
  padding: 10px 20px;
  white-space: nowrap;
  display: flex;
}
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  transition: all 0.3s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}
body > .wrapper {
  overflow: hidden;
}
.neve-main {
  flex: 1 auto;
}
::placeholder {
  color: inherit;
  opacity: 0.5;
}
.nv-page-title {
  font-family: var(--headingsfontfamily);
}

.widget {
  word-break: break-word;
  margin-bottom: 40px;
}
.widget:last-child {
  margin: 0;
}
.component-wrap,
.item--inner,
.nav-ul .wrap a .dd-title,
.nav-ul a,
.site-logo {
  justify-content: var(--justify, flex-start);
  text-align: var(--textalign, left);
}
@media (min-width: 960px) {
  .neve-main > .container .col {
    max-width: 70%;
  }
  .neve-main > .container > .row {
    flex-wrap: nowrap;
  }
  .alignwide {
    width: 70vw;
    max-width: 70vw;
    margin-left: calc(50% - 35vw);
    margin-right: calc(50% - 35vw);
  }
}

.tcb {
  transition: all 0.3s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

.hfg-ov {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  transform: translate3d(0, 0, 0);
  z-index: 999899;
  transition: all 0.3s linear;
  visibility: hidden;
  opacity: 0;
}
.hfg-pe {
  pointer-events: none;
}
.site-header {
  position: relative;
}
.site-header .header--row-inner {
  align-items: center;
  display: flex;
}
.builder-item {
  margin: 4px 0;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 960px) {
  .builder-item {
    margin: 8px 0;
  }
}
.hfg-slot {
  display: flex;
  align-items: center;
}
.hfg-slot.right {
  justify-content: flex-end;
}
.hfg-slot.center {
  justify-content: center;
}
[class*="row-inner"] {
  position: relative;
  background: var(--bgimage, var(--bgcolor, #fff));
  background-position: var(--bgposition, center);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: var(--bgattachment);
}
[class*="row-inner"]::before {
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  background-color: var(--overlaycolor);
  opacity: var(--bgoverlayopacity);
}
[class*="row-inner"] {
  border-bottom: var(--rowbwidth, 0) solid var(--rowbcolor);
}
[data-row-id] {
  color: var(--color);
  background: var(--bgcolor);
}
[data-row-id] a {
  color: var(--color);
}
[data-row-id] .row {
  display: grid;
  grid-template-columns: auto auto;
  min-height: var(--height, auto);
}
.hfg_header.site-header {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
}
.header .builder-item .item--inner[class*="nav-icon"] {
  padding: 0 !important;
}
.hfg-grid {
  display: flex;
}

.component-wrap {
  display: flex;
  margin: 4px 0;
}
.builder-item .item--inner {
  color: var(--color);
  font-family: var(--fontfamily, var(--bodyfontfamily));
  font-size: var(--fontsize, var(--bodyfontsize));
  line-height: var(--lineheight, var(--bodylineheight));
  letter-spacing: var(--letterspacing, var(--bodyletterspacing));
  font-weight: var(--fontweight, var(--bodyfontweight));
  text-transform: var(--texttransform, var(--bodytexttransform));
  padding: var(--padding, 0);
  margin: var(--margin, 0);
  position: relative;
}
.builder-item .item--inner.has_menu {
  position: unset;
}
.wp-block-kadence-icon {
  display: flex;
  gap: 0.2em;
  align-items: center;
  justify-content: center;
}
.kt-svg-icon-wrap {
  display: flex;
}
.kb-svg-icon-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-width: 0;
}
.kb-svg-icon-wrap svg {
  width: 1em;
  height: 1em;
}

.kb-buttons-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--global-kb-gap-xs, 0.5rem);
}
.kb-button {
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.wp-block-kadence-advancedbtn
  .kb-button:not(.specificity):not(.extra-specificity) {
  text-decoration: none;
}
.kb-button:not(.kb-btn-global-inherit) {
  border: 0 solid rgba(0, 0, 0, 0);
  padding: 0.4em 1em;
  cursor: pointer;
  font-size: 1.125rem;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}
.kb-button:not(.kb-btn-global-inherit):hover {
  box-shadow: none;
}
.kb-button.kb-btn-global-outline {
  border: 2px solid var(--global-palette-btn-bg, #3633e1);
  background: rgba(0, 0, 0, 0);
  color: var(--global-palette-btn-bg, #3633e1);
  padding: calc(0.4em - 2px) calc(1em - 2px);
}
.kb-button.kb-btn-global-outline:hover {
  border-color: var(--global-palette-btn-bg-hover, #2f2ffc);
  background: rgba(0, 0, 0, 0);
  color: var(--global-palette-btn-bg-hover, #2f2ffc);
}
.kb-button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: rgba(0, 0, 0, 0);
}
.kb-button:hover::before {
  opacity: 1;
}
@font-face {
  font-family: "Amatic Bold";
  src: url("~/styles/fonts/Amatic-Bold.ttf");
}

@font-face {
  font-family: "Encode Sans";
  src: url("~/styles/fonts/EncodeSans-Regular.ttf");
}

@font-face {
  font-family: "Encode Sans";
  src: url("~/styles/fonts/EncodeSans-Bold.ttf");
  font-weight: 500;
}
